.footer {
  width: 100%;
  height: 100%;
  background-color:#FFC000;

  justify-content: center;
}

.footer .container {
  padding-top: 10px; 
  padding-bottom: 5px;
}

.footer .social-icon {
  margin-right: 10px;
  color: #331e39; 
}

.company-logo {
  margin-top: 30px;
  margin-right: 20px; 
}

/* Mantén los estilos existentes y agrega lo siguiente */

.developer {
  display: flex;
  flex-direction: row-reverse; /* Cambia el orden de los elementos en pantallas más pequeñas */
  justify-content: flex-end;
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

/* Ajustes para hacer el texto más adaptable */
.contact-info {
  margin-top: 10px; /* Reducido el margen superior */
  text-align: center;
  margin-left: 0; /* Elimina el margen izquierdo */
}

.company-name {
  font-size: medium; /* Cambiado a tamaño de fuente mediano */
  white-space: normal; /* Permite que el texto se envuelva en múltiples líneas */
  text-align: center; /* Alinea el texto al centro */
  margin-left: 0; /* Elimina el margen izquierdo */
}


@media screen and (max-width: 768px) {
  .company-name p {
    font-size: 14px; 
    margin-bottom: 5px;
  }

  .contact-info {
    font-size: 14px; 
  }
}