<footer class="footer">
    <div class="container">
        <!-- Contenedor para el contenido de arriba (imagen y texto) -->
        <div class="row text-center mb-4">
            <div class="col-md-12">
                <div class="image-container position-relative">
                    <!-- Canvas a la izquierda -->
                    <canvas #canvasLeft id="myCanvasLeft" width="300" height="100"></canvas>        
                    <svg id="svg" width="200" height="200" xmlns="http://www.w3.org/2000/svg" class="position-absolute top-0 start-0">
                        <defs>
                            <path d="M 100 100
                                    m -80, 0
                                    a 80,80 0 1,1 160,0
                                    a 80,80 0 1,1 -160,0" id="pathSlf6u6uz93">
                            </path>
                        </defs>
                        <text font-size="25" font-family="Cinzel Decorative, serif" fill="#ef940b">
                            <textPath xlink:href="#pathSlf6u6uz93" startOffset="25%" text-anchor="middle">
                                ¡HagAmOS ciNE!
                            </textPath>
                        </text>
                    </svg>
                    <img src="../../assets/footer/logo.png" alt="Imagen" class="rounded-circle" width="50" height="50">
                    <!-- Canvas a la derecha -->
                    <canvas #canvasRight id="myCanvasRight" width="300" height="100"></canvas>
                </div>
            </div>
        </div>
        <!-- Resto del contenido (GIFs y datos de contacto) -->
        <div class="row justify-content-between align-items-center" style="height: 300px;">
            <div class="col-md-4 d-flex justify-content-start">
                <div class="gif-container">
                    <img src="../../assets/footer/Gif Guionista.gif" alt="GIF 1" class="gif-image">
                </div>
            </div>

            <!-- Datos de contacto en el centro -->
            <div class="col-md-4 text-center" style="padding-top: 50px;">
                <h3 class="footerintitle">Serval Films</h3>
                <p>director@servalfilms.com</p>
                <p>+57 350 537 7292</p>
                <p>+57 311 2860608</p>
                <div class="social-icons">
                    <i class="fab fa-instagram fa-2x social-icon"></i>
                    <i class="fab fa-linkedin fa-2x social-icon"></i>
                    <i class="fab fa-youtube fa-2x social-icon"></i>
                    <i class="fas fa-share-alt fa-2x social-icon"></i>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-end">
                <div class="gif-container">
                    <img src="../../assets/footer/Gif Camara.gif" alt="GIF 2" class="gif-image">
                </div>
            </div>
        </div>
       <!-- Información de copyright -->
       <div class="row text-center mb-2">
        <div class="col-md-12">
            <p style="font-size: 0.8rem; color: #ef940b;">
                <i class="fas fa-copyright"></i> 2024 Serval Films SAS. Todos los derechos reservados.
            </p>
        </div>
    </div>
        <div class="rough-line-bottom"></div>
        <div class="row text-center">
            <div class="col-md-12">
                <p>Desarrollado por Daniela Vergara Alzate</p>
            </div>
        </div>
    </div>
</footer>
