.footerintitle {
  padding: 0% !important;
  font-family: 'Rosario', sans-serif ;
  color: #ef940b;
  letter-spacing: 2px;
  font-size: 2.5rem !important;  /* Asegúrate de que se aplique el tamaño de fuente */
  line-height: 1.2;
}


.footer {
  font-family: 'Rosario', sans-serif;
  font-size: 1.2rem;  /* Tamaño de fuente */
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 40px;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Cambiar de flex-end a flex-start */
  align-items: center; /* Centrar los elementos */
  height: 100%;
}

.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
}

.image-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  position: relative;
  display: inline-block;
}

#myCanvasLeft, #myCanvasRight {
  position: absolute;
  top: 50%; /* Centra ambos elementos en la altura */
  transform: translateY(-50%); /* Ajusta la posición vertical para que estén perfectamente centrados */
}

#myCanvasLeft {
  left: -400px;  /* Ajusta la posición a la izquierda */
}

#myCanvasRight {
  right: -400px;  /* Ajusta la posición a la derecha */
}


.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif-image {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

.social-icons i {
  margin: 10px;
  color: #333;
  cursor: pointer;
  padding-bottom: 40px;
}

.social-icons i:hover {
  color: #ef940b;
}

footer .text-center p {
  color: white;
  font-family: 'Rosario', sans-serif;
  margin: 5px 0;
}

footer .text-center h3 {
  color: white;
  font-family: 'Rosario', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

footer .col-md-3 {
  margin-bottom: 20px;
}

footer .col-md-6 {
  margin-bottom: 20px;
}

footer .col-md-3 .gif-container {
  margin-right: 20px;
  margin-left: 20px;
}

.rough-line-bottom {
  width: 40%;
  height: 2px;
  background-color: #333;
  margin: 10px auto;
}

.line-container {
  width: 100px; /* Ajusta el tamaño de la línea */
  height: 10px; /* Define la altura de la línea */
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block; /* Asegura que el contenedor tenga un tamaño visual */
}

footer .text-center {
  margin-bottom: 0;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
}

footer p {
  margin-bottom: 0; /* Elimina cualquier espacio innecesario en el pie de página */
}