.footer {
  width: 100%;
  height: 100%;
  background-color:#FFC000;

  justify-content: center;
}

.footer .container {
  padding-top: 10px; 
  padding-bottom: 5px;
}

.footer .social-icon {
  margin-right: 10px;
  color: #331e39; 
}

.company-logo {
  margin-top: 30px;
  margin-right: 20px; 
}

.contact-info {
  margin-top: 20px;
  text-align: center;
  margin-left: 200px;
}

.company-name{
  font-size: large;
  white-space: nowrap;
  margin-left: 50px;
}