<footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-2">
          <div class="company-logo">
            <i class="fas fa-building fa-2x"></i>
          </div>
          <div class="company-name">
            <p>Serval Films</p>
          </div>
          <div class="company-name">
            Stop motion company
          </div>
        </div>
        <div class="col-md-6 text-center" style="margin-top: 50px;">
          <div class="contact-info">
            <p>Contactenos ! :D <3</p>
            <br>
            +57 350 5370 7292
            <br>
            servalproductions@gmail.com
          </div>
        </div>
        <div class="col-md-4 text-right" style="margin-top: 50px;">
          <i class="fab fa-instagram fa-2x social-icon"></i>
          <i class="fab fa-linkedin fa-2x social-icon"></i>
          <i class="fab fa-youtube fa-2x social-icon"></i>
          <i class="fas fa-share-alt fa-2x social-icon"></i>
        </div>
        <div class="col-md-12 text-center mt-3">
          <p>Desarrollado por [Nombre de la empresa]</p>
        </div>
      </div>
    </div>
  </footer>
  