/*section five*/

.home-container.section-five {
    position: relative; /* Posiciona el contenedor de manera relativa */
    width: 100%; /* Ocupa el ancho completo de la pantalla */
    height: 100vh; /* Altura completa de la ventana */
    overflow: hidden; /* Oculta cualquier parte del video que sobresalga */
    background-color: black; /* Fondo negro para evitar bordes blancos */
  }
  
  .section-five video {
    position: absolute; /* Posiciona el video para poder centrarlo */
    top: 50%; /* Centra el video verticalmente */
    left: 50%; /* Centra el video horizontalmente */
    width: 100%; /* Ancho del video ajustado al contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    min-height: 100%; /* Asegura que cubra al menos toda la altura */
    min-width: 100%; /* Asegura que cubra al menos todo el ancho */
    transform: translate(-50%, -50%); /* Centra el video en el contenedor */
    object-fit: cover; /* Escala el video para cubrir todo el contenedor */
  }
  
  
  @media screen and (max-width: 768px) {
    .section-five video {
      width: 20%; /* El ancho se ajusta automáticamente */
      height: 100%; /* Asegura que cubra la altura del contenedor */
    }
  }

  /* Para pantallas de 480px o menos (móviles) */
@media screen and (max-width: 480px) {
    .section-five video {
      width: auto; /* Escala proporcionalmente */
      height: 100%; /* Asegura que cubra la altura mínima */
      object-fit: contain; /* Evita recortes excesivos en proporciones muy extremas */
    }
}