/*section six*/
.section-six {
    background-color: #122739; /* Fondo oscuro */
    background-image: url('../../../../assets/home/sectionSix/background-noise.png'); /* Imagen de granito */
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh; /* Asegura que la sección siempre ocupe al menos el 100% de la altura de la ventana */
    overflow: hidden; /* Evitar desbordamientos */
  }
  
  
  .section-six-fullscreen {
    width: 100%;
    max-width: 1200px; /* Ajusta según tu diseño */
    margin: 0 auto;
    padding: 0 15px; /* Para que se ajuste en pantallas pequeñas */
  }
  
  .section-six-title {
    font-family: 'Rosarivo', serif;
    font-size: 50px;
    letter-spacing: 3px;
    color: #ef940b;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
    overflow: hidden; /* Evita el desbordamiento del título */
    text-overflow: ellipsis; /* Muestra "..." si el texto es demasiado largo */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  }
  
  .section-six-text {
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Rosario', sans-serif;
    line-height: 1.5;
    font-style: oblique;
    color: #eff8f8;
    text-align: center;
  }
  
  .section-six-text-p{
    max-width: 500px;
    color: #eff8f8;
    font-family: 'Rosario', sans-serif;
    text-align: justify;
  }
  
  
  .section-six-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 60px;
    padding-top: 20px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas más pequeñas */
  }
  
  .section-six-left-text {
    width: 45%;
    padding-top: 5%;
    font-size: 18px;
    line-height: 1.6;
    color: #d0d0d0;
  }
  
  .section-six-right-video {
    padding: 20px;
    width: 50%;
    max-height: 80vh; /* Limita la altura a un porcentaje de la ventana */
    display: flex;
    justify-content: center;
    aspect-ratio: 16 / 9; /* Mantiene la proporción del video */
    overflow: hidden; /* Asegura que el contenido no se desborde */
  }
  
  .section-six-right-video iframe {
    width: 100%;
    height: 100%;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }
  
  .title-wrapper-six {
    width: 100%;
    max-width: 100%;
    overflow: hidden; /* Oculta contenido que se desborde */
    padding: 0 15px; /* Espaciado interno adaptativo */
    box-sizing: border-box;
  }

   /**text */

   .title-svg-section-six text {
    font-family: 'Rosarivo';
    padding: 0 15px; /* Espaciado interno adaptativo */
    font-size: 150%;
    letter-spacing: 5px;
    stroke: #ef940b;
    stroke-width: 2;
    animation: textAnimate-six 5s infinite alternate;
    fill: transparent; /* Animación de relleno */
  }
  
  
  @keyframes waviy {
    0%, 40%, 100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-20px);
    }
  }
  
  
  @keyframes textAnimate-six {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset: 20%;
      fill: hsl(189, 68%, 75%);
    }
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffset: -20%;
      fill: hsla(189, 68%, 75%, 0%);
    }
  }

.waviy {
  position: relative;
  font-size: 60px;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #ef940b;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
  /***/


  .section-six-left-text,
  .section-six-right-video {
    width: 50%; /* Hace que ambos elementos ocupen 45% en pantallas grandes */
    height: 100%;
  }


  /* Para pantallas de 480px o menos (móviles) */
@media screen and (max-width: 480px) {

  .title-svg-section-six text {
    font-size: clamp(180%, 1000vw, 180%); /* El tamaño de la fuente se ajusta dinámicamente */
    letter-spacing: 3px; /* Reduce el espaciado entre letras */
  }

    .section-six-content {
      flex-direction: column; /* Cambia a columna en pantallas pequeñas */
      align-items: center;
    }
  
    .section-six-left-text,
    .section-six-right-video {
      align-items: center;
      padding-top: 5%;
      width: 150%; /* Hace que los elementos ocupen más espacio en pantallas pequeñas */
    }
  
    .section-six-right-video {
      max-height: 50vh; /* Limita la altura del video */
    }
  }
    