.container.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar los elementos verticalmente */
    align-items: center; /* Centrar los elementos horizontalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    padding: 0; /* Eliminamos el padding general */
    overflow: hidden; /* Oculta cualquier desbordamiento */
  }

    
  .container.section-one video {
    width: 100%; /* Asegura que el video ocupe todo el ancho */
    height: 100%; /* Asegura que el video ocupe toda la altura */
    object-fit: cover; /* Escala el video para cubrir completamente el contenedor */
  }

  .section-one .title,
  .section-one .subtitle {
    margin-top: 0; 
  }


  @media screen and (max-width: 768px) {
    .container.section-one {
        padding: 0; /* Elimina el padding para aprovechar el espacio completo */
        height: 100vh; /* Asegura que aún ocupe toda la ventana */
      }
    
      .container.section-one video {
        object-fit: contain; /* Cambia a `contain` para evitar recortes extremos */
      }   
  }

  @media screen and (max-width: 480px) {
    .container.section-one {
        height: 100vh; /* Mantiene el contenedor ajustado a la pantalla */
      }
    
      .container.section-one video {
        object-fit: contain; /* Escala el video para que se ajuste dentro del contenedor */
      }    
  }