/* section two */
.home-container.section-two {
  background-color: #6d0a37;
  background-image: url('../../../../assets/home/sectiontwo/background_noise.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.svg-title {
  font-family: 'Rosarivo';
  font-size: 40px;
  fill: #ef940b;
  letter-spacing: 2px;
  padding-bottom: 100px; /* Este padding no afectará al texto, ya que el padding generalmente se aplica a contenedores */
}


.title-wrapper.section-two-title {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.svg-text {
  font-family: 'Rosarivo', sans-serif;
  font-size: 5vw; /* Tamaño relativo con vw para la fuente */
  fill: #ef940b;
  letter-spacing: 2px;
  line-height: 1.2;
  color: #ef940b;
  max-font-size: 60px; /* Limitar el tamaño máximo */
}

.section-two-images {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.section-two-image {
  width: 280px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  border: 2px solid #cc7f00;
  transition: transform 0.3s ease;
  margin: 10px;
}

.section-two-text {
  font-family: 'Rosario', sans-serif;
  font-size: 24px;
  max-width: 90%;
  text-align: justify;
  color: #eff8f8;
  margin: 20px 0;
}

.section-two-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section-two-button {
  font-family: 'Cinzel Decorative', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 90px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.2s ease;
}

.section-two-button span {
  background-color: #ef940b;
  display: inline-block;
  position: absolute;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 12px 40px;
  box-sizing: border-box;
  transition: all 0.3s;
}

.section-two-button span:nth-child(1) {
  transform: rotateX(90deg);
  transform-origin: 50% 50% -20px;
}

.section-two-button span:nth-child(2) {
  transform: rotateX(0deg);
  transform-origin: 50% 50% -20px;
}

.section-two-button:hover span:nth-child(1) {
  transform: rotateX(0deg);
}

.section-two-button:hover span:nth-child(2) {
  color: transparent;
  transform: rotateX(-90deg);
}

.image-link:hover .section-two-image {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Responsive: Ajustes para dispositivos móviles y tabletas */
@media screen and (max-width: 768px) {
  .svg-text {
    font-size: 8vw; /* Título más pequeño en pantallas más pequeñas */
    max-font-size: 50px; /* Límite en pantallas más pequeñas */
  }

  .section-two-text {
    font-size: 18px;
  }

  .section-two-image {
    width: 80%;
    max-width: 280px;
  }

  .section-two-button {
    padding: 10px 50px;
  }

  .section-two-button span {
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .svg-text {
    font-size: 10vw; /* Ajusta el tamaño aún más en pantallas más pequeñas */
    max-font-size: 40px; /* Límite para dispositivos móviles */
  }

  .section-two-button {
    padding: 10px 30px;
  }

  .section-two-text {
    font-size: 16px;
  }

  .section-two-image {
    width: 90%;
    max-width: 250px;
  }

  .section-two-button span {
    width: 250px;
  }
}
