<div class="contact-container">
  <div class="title-wrapper-contact">
    <svg class="title-svg-contact" viewBox="0 0 1200 100">
      <text x="60%" y="60%" text-anchor="middle" dominant-baseline="middle">
        <tspan x="50%" dy="-0.8em">Contáctenos</tspan>
      </text>
    </svg>  
  </div>  
  <div class="form-container">
    <form action="https://formsubmit.co/71b15a65587f86a871cf7c99c602ab85" method="POST" id="contact-form" (ngSubmit)="onSubmit()" [formGroup]="contactForm">
      <div class="input-group">
        <input type="text" name="name" formControlName="name" placeholder="Nombre" required>
        <span class="error" *ngIf="hasError('name')">⚠ Nombre requerido</span>
      </div>
    
      <div class="input-group">
        <input type="email" name="email"  formControlName="email" placeholder="Correo" required>
        <span class="error" *ngIf="hasError('email')">
          <span *ngIf="contactForm.get('email')?.errors?.['required']">⚠ Correo requerido</span>
          <span *ngIf="contactForm.get('email')?.errors?.['email']">⚠ Formato inválido</span>
        </span>
      </div>
    
      <div class="input-group">
        <textarea formControlName="message" name="message" placeholder="Mensaje" required></textarea>
        <span class="error" *ngIf="hasError('message')">
          <span *ngIf="contactForm.get('message')?.errors?.['required']">⚠ Mensaje requerido</span>
          <span *ngIf="contactForm.get('message')?.errors?.['minlength']">⚠ Mínimo 10 caracteres</span>
        </span>
      </div>
      <input type="hidden" name="_captcha" value="false">
      <input type="hidden" name="_template" value="table">
      <input type="hidden" name="_next" value="https://servalfilms.com/#/contact-us">
      <button type="submit" [disabled]="isLoading" style="font-family: 'Cinzel Decorative', serif;">Enviar</button>
      
      <div *ngIf="isSubmitted" class="success-message">
        <p>¡Mensaje enviado con éxito!</p>
      </div>

      <div class="loading-spinner" *ngIf="isLoading">
        <div class="spinner"></div>
      </div>  
    </form>    
    <img src="../../assets/contact-us/saludoHuesitos.gif" alt="Imagen de contacto">
  </div>
</div>
