/* Asegúrate de que el body y html ocupen toda la pantalla */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; /* Asegura que el body ocupe todo el ancho de la pantalla */
  display: flex; /* Usamos flex para colocar el contenido y el menú en línea */
}

body {
  background-color: var(--color-bg1);
}

.contact-container {
  min-height: auto; /* O usa height: auto */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: radial-gradient(at 73% 7%, #3e0f42 0px, transparent 50%), 
              radial-gradient(at 37% 33%, #6d0a37 0px, transparent 50%), 
              radial-gradient(at 79% 36%, #0e2f2f 0px, transparent 50%), 
              radial-gradient(at 36% 87%, #122739 0px, transparent 50%), 
              radial-gradient(at 22% 49%, #0e2f2f 0px, transparent 50%), 
              radial-gradient(at 50% 64%, #0e2f2f 0px, transparent 50%) #000000;
  mix-blend-mode: var(--_mesh-gradient-blend-mode);
  filter: blur(var(--_mesh-gradient-blur));
  padding-bottom: 80px; /* Espacio para el footer */
  padding: 2rem 0;
}


/* El contenedor de tu componente debe ocupar todo el espacio disponible */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;  /* Esto permite que ocupe el espacio restante disponible */
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura */
  width: 100%;  /* Asegura que ocupe todo el ancho disponible */
  background-image: url('../../assets/contact-us/background.svg');  /* Cambia la ruta al SVG */
  background-size: cover;  /* El fondo cubre todo el contenedor */
  background-position: center;  /* Centra el fondo */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija el fondo mientras se hace scroll */
}
.title-wrapper-contact {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.title-svg-contact text {
  font-family: 'Rosarivo';
  font-size: 250%;
  letter-spacing: 5px;
  stroke: #ef940b;
  stroke-width: 2;
  animation: textAnimate-two 5s infinite alternate;
  fill: transparent;
  z-index: 10;
}

.form-container {
  display: flex;
  background-color: var(--color-bg2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 4);
  max-width: 800px;
  width: 100%;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 10px;
  background-color: var(--color3);
  border: 1px solid var(--color4);
  border-radius: 5px;
  color: white;
}

input:focus, textarea:focus {
  outline: none;
  border-color: var(--color-interactive);
}

button {
  padding: 10px;
  background-color: var(--color2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
}

button:hover {
  background-color: var(--color-interactive);
}

img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  margin-left: 20px;
}

@keyframes textAnimate-two {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: hsl(189, 68%, 75%);
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
    fill: hsla(189, 68%, 75%, 0%);
  }
}

/* Estilo para los inputs y textarea */
input, textarea {
  width: 100%; /* Asegura que los campos ocupen todo el ancho */
  padding: 12px;
  margin-bottom: 15px; /* Espaciado entre los campos */
  background-color: #f0f0f0; /* Fondo claro para los campos */
  border: 1px solid #ddd; /* Borde suave */
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  transition: border 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}


input:focus, textarea:focus {
  outline: none; /* Eliminamos el borde predeterminado del navegador */
  border-color: #ef940b; /* Color del borde cuando se enfoca */
  box-shadow: 0 0 5px rgba(239, 148, 11, 0.5); /* Añadimos una sombra suave cuando está en foco */
}

input::placeholder, textarea::placeholder {
  color: #aaa; /* Color del texto del placeholder */
}

/* Estilo del botón */
button {
  padding: 12px;
  background-color: #ef940b; /* Fondo naranja */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e6820b; /* Color del botón al pasar el cursor */
}
