<div class="contact-container">
  <div class="title-wrapper-contact">
    <svg class="title-svg-contact" viewBox="0 0 1200 100">
      <text x="60%" y="60%" text-anchor="middle" dominant-baseline="middle">
        <tspan x="50%" dy="-0.8em">Contáctenos</tspan>
      </text>
    </svg>
  </div>  
  <div class="form-container">
    <form action="https://formsubmit.co/director@servalfilms.com" method="POST">
      <input type="text" id="name" name="name" placeholder="Nombre completo" required>
      <input type="email" id="email" name="email" placeholder="Correo electronico" required>
      <textarea id="message" name="message" placeholder="Tu mensaje" required></textarea>
      <button type="submit">Enviar</button>
    </form>
    <img src="../../assets/contact-us/saludoHuesitos.gif" alt="Imagen de contacto">
  </div>
</div>