<nav class="navbar navbar-expand-lg navbar-light fixed-right" style="background-color: #FFC000;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-12 mt-5">
        <div class="eng-es">Eng/Esp</div>
        <div class="title-serval"><u>Serval Films</u></div>
       
        <ul class="navbar-nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/inicio">Quienes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/inicio">Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/inicio">Campaña</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/inicio">Call to Action</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/inicio">Contatanos</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
