<!-- menu.component.html -->
<nav class="navbar navbar-expand-lg navbar-light fixed-right" style="background-color: #FFC000;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-12 mt-5">
        <ul class="navbar-nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/serval">Serval</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/compania">Compañía</a>
          </li>
          <!-- Agrega aquí los demás elementos del menú -->
        </ul>
      </div>
    </div>
  </div>
</nav>
