.navbar {
  background: rgba(0, 0, 0, 0.5); /* Negro con 50% de opacidad */
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Rosario', sans-serif;
  backdrop-filter: blur(10px); /* Efecto de desenfoque del fondo */
  box-shadow: 0px 4px 10px #cc7f00; /* Sombra en la parte inferior */
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 30px;
}



/* --- Logo y nombre de la marca --- */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 6.5%;
  margin-right: 10px;
  width: 6.5%;
}

.brand-name {
  color: #ffb700;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* Ocupa el espacio disponible */
  justify-content: flex-start; /* Alinea los links a la izquierda */
}


.nav-links li {
  display: inline;
}

.nav-links a {
  color: #ffb700;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: white;
}

/* --- Cambio de idioma a la derecha --- */
.lang-switch {
  margin-left: 5%;
}

.lang-switch a {
  color: #ffb700;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.lang-switch a:hover {
  color: white;
}

/* --- Para evitar superposición con el contenido --- */
body {
  padding-top: 70px; /* Ajusta según la altura del menú */
}

/* Oculta la barra cuando está en el top */
.hidden-navbar {
  opacity: 0;
  transform: translateY(-100%);
}