/* Elimina los márgenes negativos */
.navbar ul li a {
  margin-left: 0; /* Evita el margen negativo */
}

/* Estilo del menú */
.navbar {
  border: 2px solid #cc7f00;
  border-radius: 50px 0 0 50px;
  white-space: nowrap;
  width: auto; /* Ajusta al contenido */
  max-width: 200px; /* Establecemos un ancho máximo en lugar de fijo */
  top: 15%;
  bottom: 20%;
  overflow-y: auto;
  max-height: calc(65vh);
  padding: 10px;
  opacity: 0.5;
  margin-right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-right: none;
}

/* Para la posición fija */
.fixed-right {
  position: fixed;
  top: 15%;
  right: 0;
  z-index: 1000;
}


/* Asegura que el menú se ajuste en pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    width: 100%; /* Usamos el 100% del ancho disponible */
    max-width: 150px;
    max-height: 55vh;
    margin: 0 auto; /* Centra el menú */

  }
  .navbar .col-lg-2 .eng-es {
    margin-top: -50px;
  }

  .navbar .col-lg-2 .title-serval {
    margin-top: 30px;
    margin-left: -20px;
  }

  .navbar ul li a {
    margin: 0; /* Elimina cualquier margen no deseado */
    padding: 10px; /* Usa relleno para el espacio interno */
  }
  
}

/* Desactivar la visibilidad cuando se oculta */
.navbar.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
