<nav class="navbar" [ngClass]="{ 'hidden-navbar': isAtTop }">
  <div class="navbar-container">
    <div class="logo">
      <img src="assets/logo.png" alt="Serval Films Logo">
      <span class="brand-name">Serval Films</span>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/portafolio">Portafolio</a></li>
      <li><a routerLink="/equipo">Equipo</a></li>
      <li><a routerLink="/contact-us">Contacto</a></li>
    </ul>
    <div class="lang-switch">
      <a routerLink="/lang">Eng/Span</a>
    </div>
  </div>
</nav>
