<!-- Agrega este código al componente del Home o donde desees mostrar el pop-up -->
<div class="popup-container">
  <div class="popup-content">
    <div class="popup-text">
      <h2 class="popup-title">Serval Films</h2>
      <h3 class="popup-subtitle">Esta página está bajo construcción</h3>
      <p class="popup-paragraph">
        <a href="https://www.instagram.com/servalfilms/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA==">Redes sociales</a>
        <br>
        +57 350 537 7292
      </p>
    </div>
    <div class="popup-image">
      <img src="../../assets/popup/gatico.png" alt="Imagen">
    </div>
  </div>
</div>
