.divider {
    width: 100%;
    height: 15vh;
    overflow: hidden;
  }  

  .divider-eight {
    background: linear-gradient(
        to bottom,
        #042426 0%,   
        #042426 33%,  
        #00191b 33%, 
        #00191b 66%, 
        #001214 66%,  
        #001214 100%
    );
  }

  .divider-seven {
    background: linear-gradient(
        to bottom,
        #001214 0%,   
        #001214 33%,  
        #00191b 33%, 
        #00191b 66%, 
        #042426 66%,  
        #042426 100%
    );
  }

  .divider-six {
    background: linear-gradient(
      to bottom,
      #0a1c2b 0%,   
      #0a1c2b 33%,  
      #071724 33%, 
      #071724 66%, 
      #020e19 66%,  
      #020e19 100%
    );
  }

  .divider-five {
    background: linear-gradient(
        to bottom,
        #020e19 0%,   
        #020e19 33%,  
        #071724 33%, 
        #071724 66%, 
        #0a1c2b 66%,  
        #0a1c2b 100%
    );
  }

  .divider-four {
    background: linear-gradient(
        to bottom,
        #310b34 0%,  
      #3A0C3F 10%,  
      #4E0F55 20%,  
      #431047 32%,  
      #3C0B40 45%,  
      #2E0331 55%,  
      #200015 66%,  
      #22020f 75%,  
      #100005 85%,  
      #1d021f 92%,  
      #140013 96%,  
      #0a000a 98%,  
      black 100%
    );
    animation: gradient-fade 10s ease-in-out infinite;
  }

  .divider-three {
    background: linear-gradient(
      to bottom,
      black 0%,  
      #120010 15%,  
      #1d021f 30%,   
      #3a053a 50%, 
      #28042b 65%,  
      #310b34 80%,  
      #310b34 100%
    );
    animation: gradient-fade 10s ease-in-out infinite;
  }
  
  
  
  

  /*.divider-three {
    background: linear-gradient(
        to bottom,
        #1d021f 0%,   
        #1d021f 33%,  
        #28042b 33%, 
        #28042b 66%, 
        #310b34 66%,  
        #310b34  100%
    );
  }*/
  
  @keyframes gradient-fade {
    0%   { filter: brightness(1); }
    50%  { filter: brightness(1.45); }
    100% { filter: brightness(1); }
}

.divider-two {
    background: linear-gradient(
      to bottom,
      #560a2c 0%,  
      #6a0d38 15%,  
      #7e1044 30%,  
      #680b34 45%,  
      #520828 60%,  
      #3c051e 75%,  
      #22020f 85%,  
      #100005 95%,  
      black 100%
    );
    animation: gradient-fade 8s ease-in-out infinite;
}

.divider-one {
  background: linear-gradient(
    to bottom,
    black 0%,  
    #100005 5%,  
    #22020f 15%,  
    #3c051e 25%,  
    #520828 40%,  
    #680b34 55%,  
    #7e1044 70%,  
    #6a0d38 85%,  
    #560a2c 100%
  );
  animation: gradient-fade 8s ease-in-out infinite;
}


  /*.divider-two {
    background: linear-gradient(
      to bottom,
      #560a2c 0%,  
      #6a0d38 15%,  
      #7e1044 30%,  
      #680b34 45%,  
      #520828 60%,  
      #3c051e 75%,  
      #22020f 85%,  
      #100005 95%,  
      black 100%
    );
}
*/


/*
.divider-one {
    background: linear-gradient(
      to bottom,
      rgba(38, 4, 20, 1) 0%, 
      rgba(68, 8, 35, 0.9) 40%, 
      rgba(86, 10, 44, 0.85) 70%, 
      rgb(108, 20, 60) 100%
    );
}*/