/* Importaciones */
@import './css/sections/section-one.css';
@import './css/sections/section-two.css';
@import './css/sections/section-three.css';
@import './css/sections/section-four.css';
@import './css/sections/section-five.css';
@import './css/sections/section-six.css';
@import './css/sections/section-seven.css';
@import './css/sections/section-eight.css';
@import './css/dividers/divider-home.css';
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* Reset y configuración básica */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  /*height: 100%;*/
  overflow-x: hidden; /* Evita barras de desplazamiento horizontal */
  margin: 0;
  padding: 0;
  background-color: #151719;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* Contenedor principal */
.home-container {
  position: relative;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Asegura disposición vertical */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra horizontalmente */
  color: black;
}

/* Fondo GIF */
.gif-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  overflow: hidden;
}

.gif-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra el contenedor */
  object-position: center;
  transition: opacity 0.5s ease-in-out;
}

/* Títulos */
.title, .subtitle {
  font-family: 'Rosarivo', serif;
  font-size: 65px;
  color: #ffffff;
  text-shadow: 
    2px 0 8px rgba(0, 179, 255, 0.634),
    -5px 0 8px rgba(255, 70, 0, 0.8),
    0 0 4px rgba(255, 199, 0, 1);
  mix-blend-mode: screen;
  letter-spacing: 8px;
  text-align: center; 
  margin-bottom: 20px;
}

/* Iconos */
.icon {
  width: 15%;
}

/* Responsividad */

/* Pantallas medianas (tabletas) */
@media (max-width: 768px) {
  .home-container {
    padding: 0 10px;
  }

  .title, .subtitle {
    font-size: 50px;
    letter-spacing: 5px;
  }

  .icon {
    width: 20%;
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .title, .subtitle {
    font-size: 30px;
    letter-spacing: 2px;
  }

  .icon {
    width: 25%;
  }
}
