<!-- home.component.html -->
<div class="home-container">
  <div class="container">
    <img src="../../assets/serval.png" alt="Servalfilms" class="icon">
    <h1 class="title">Bienvenido a Serval Films</h1>
    <h2 class="subtitle">Explorando el arte, impactando al mundo</h2>
  </div>
</div>
<div class="divider">
  <!-- Imagen de división -->
  <img src="../../assets/home/dividerFirstSection.jpeg" alt="Divider" class="divider-image">
</div>
<div class="home-container">
  <h1>Bienvenido a Serval Films</h1>
</div>
<div class="divider">
  <img src="../../assets/home/dividerFirstSection.jpeg" alt="Divider" class="divider-image">
</div>
<div class="home-container">
  <h1>Bienvenido a Serval Films</h1>
</div>
<div class="divider">
  <img src="../../assets/home/dividerFirstSection.jpeg" alt="Divider" class="divider-image">
</div>
<div class="home-container">
  <h1>Bienvenido a Serval Films</h1>
</div>
