
<div class="home-container">
  <div class="gif-background">
    <img src="../../assets/home/backgroundSectionOne.gif" alt="Background GIF" class="gif-image">
  </div>
  <div class="container section-one">
    <h1 class="title">BIENVENIDOS AL SET</h1>
    <img src="../../assets/home/icon.png" alt="Servalfilms" class="icon">
    <h2 class="subtitle">SERVAL FILMS</h2>
  </div>
</div>
<div class="divider divider-one">
</div>
<div class="home-container section-two">
  <div class="title-wrapper">
    <svg class="title-svg" viewBox="0 0 1200 300">
      <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle">
        <tspan x="50%" dy="0">Descrube nuestras películas cortas</tspan>
        <tspan x="50%" dy="1.2em">Conoce el paso a paso de sus procesos</tspan>
            </text>
    </svg>    
  </div>
  <!-- Resto del contenido de la sección dos -->
  <img src="../../assets/serval.png" alt="Servalfilms" class="icon">
</div>
<div class="divider">
  <img src="../../assets/home/dividerFirstSection.jpeg" alt="Divider" class="divider-image">
</div>
<div class="home-container section-three">
  <img src="../../assets/serval.png" alt="Servalfilms" class="icon">
  <h1>Bienvenido a Serval Films</h1>
</div>
<div class="divider">
  <img src="../../assets/home/dividerFirstSection.jpeg" alt="Divider" class="divider-image">
</div>
<div class="home-container section-four">
  <img src="../../assets/serval.png" alt="Servalfilms" class="icon">
  <h1>Bienvenido a Serval Films</h1>
</div>
