<div class="home-container section-one">
  <div class="icon-container">
      <img src="../../assets/serval.png" alt="Servalfilms" class="icon">
      <h1 class="title">Serval Films</h1>
      <h2 class="subtitle">Explorando el arte, impactando al mundo</h2>
  </div>
</div>

<div class="divider">
  <svg viewBox="0 0 1430 290" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(47, 73, 94, 1)" d="M 0 0 C 746.9 0 320.1 25 1067 25 L 1067 25 L 1067 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(47, 73, 94, 1)" d="M 1066 25 C 1320.8 25 1175.2 30 1430 30 L 1430 30 L 1430 0 L 1066 0 Z" stroke-width="0"></path> </svg></div>
<div class="home-container section-two">
    <h2 class="title-images">Nuestros Proyectos del Momento</h2>
    <div class="images-container">
      <div class="image-wrapper">
        <img src="../../assets/home/amorenlostiemposdecomoseaquesellameelpresente.jpg" 
        alt="Amor en los Tiempos de como sea que se llame el Presente">
        <p class="image-description">Amor en los Tiempos<br>
           de como sea que se llame el presente</p>
      </div>
      <div class="image-wrapper">
        <img src="../../assets/home/unamas.jpg" alt="Una Mas">
        <p class="image-description">Una Mas</p>
      </div>
    </div>
    <pre class="justified-text">
        Somos una empresa cinematográfica enfocada en 
        animación stop-motion y live-action, impulsando la 
        innovación constante y la libertad de explorar, siempre
        buscamos desafiar los límites del arte cinematográfico en 
        todas sus formas
    </pre>
  </div>
  <div class="home-container section-three">

  </div>