  .home-container {
    position: relative;
    color: black; /* Color del texto sobre la imagen */
    height: 100vh; /* Ocupa el 100% del alto de la pantalla */
    display: flex; /* Usar flexbox para ajustar el contenido */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    margin: 0; /* Elimina el margen para una apariencia más compacta */
    padding: 0%;
  }

  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .divider {
    width: 100%;
    height: 15vh;
    overflow: hidden;
  }

  .divider-eight {
    background: linear-gradient(
        to bottom,
        #042426 0%,   
        #042426 33%,  
        #00191b 33%, 
        #00191b 66%, 
        #001214 66%,  
        #001214 100%
    );
  }

  .divider-seven {
    background: linear-gradient(
        to bottom,
        #001214 0%,   
        #001214 33%,  
        #00191b 33%, 
        #00191b 66%, 
        #042426 66%,  
        #042426 100%
    );
  }

  .divider-six {
    background: linear-gradient(
      to bottom,
      #0a1c2b 0%,   
      #0a1c2b 33%,  
      #071724 33%, 
      #071724 66%, 
      #020e19 66%,  
      #020e19 100%
    );
    height: 15vh;
    width: 100%;
  }

  .divider-five {
    background: linear-gradient(
        to bottom,
        #020e19 0%,   
        #020e19 33%,  
        #071724 33%, 
        #071724 66%, 
        #0a1c2b 66%,  
        #0a1c2b 100%
    );
  }

  .divider-four {
    background: linear-gradient(
        to bottom,
        #310b34 0%,   
        #310b34 33%,  
        #28042b 33%, 
        #28042b 66%, 
        #1d021f 66%,  
        #1d021f  100%
    );
  }


  .divider-three {
    background: linear-gradient(
        to bottom,
        #1d021f 0%,   
        #1d021f 33%,  
        #28042b 33%, 
        #28042b 66%, 
        #310b34 66%,  
        #310b34  100%
    );
  }


  .divider-two {
    background: linear-gradient(
        to bottom,
        #560a2c 0%,   
        #560a2c 33%,  
        #440823 33%, 
        #440823 66%, 
        #260414 66%,  
        #260414 100%
    );
  }

  .divider-one {
    background: linear-gradient(
      to bottom,
      #260414 0%, 
      #260414 33%, 
      #440823 33%, 
      #440823 66%,
      #560a2c 66%,
      #560a2c 100%
    );
  }

  .gif-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    will-change: transform;
    z-index: -1;
    background-color: #000; 
  }

  .gif-image {
    transition: opacity 0.5s ease-in-out;
  }

  .gif-background .gif-image {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin estirarse o hacer zoom */
    object-position: center bottom; /* Centra la imagen dentro del contenedor */
  }

  .container.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar los elementos en la columna */
    align-items: center; /* Centrar los elementos horizontalmente */
    height: 100%; /* Asegura que ocupe toda la altura del contenedor */
    padding: 100px; /* Ajusta el espaciado según sea necesario */
  }

  .container {
    /*display: flex;*/
  /* flex-direction: column; */
    /*margin-right: 200px; */
  }

  .title, .subtitle {
    display: inline-block;
    font-family: 'Rosarivo', serif; /* O cualquier otra fuente que estés usando */
    color: #ffffff;
    text-shadow: 2px 0 8px rgba(0, 179, 255, 0.634),
                -5px 0 8px rgba(255, 70, 0, 0.8),
                0 0 4px rgba(255, 199, 0, 1);
    mix-blend-mode: screen;
    font-size: 65px;
    letter-spacing: 8px; /* Ajusta el espaciado entre letras si es necesario */
    filter: blur(1px);
    position: relative;
  }

  .icon {
    width: 15%;
  }

  /*delete*/
  .divider-image {
    width: 100%;
    height: 100px;
  }

  .section-one .title,
  .section-one .subtitle {
    margin-top: 0; 
  }

  .section-three .title {
    margin-top: 0px; 
    padding-top: 0%;
  }

  .section-three {
    margin-top: 0px; 
    padding-top: 0%;
    background-color: #440823;
  }

  /*section two*/

  .title-wrapper {
    width: 300%;
    padding: 0;
    margin: 0;
    max-width: 1000px;
    text-align: center; 
  }

  .section-two {
    background-color: #6d0a37; /* Color de fondo */
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Aumenté el padding para más espacio */
    margin: 0;
}

.section-two-images {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 20px; /* Agrega espacio entre las imágenes */
}

.section-two-image {
    border-radius: 5px;
    width: 280px; /* Tamaño de las imágenes */
    transition: transform 0.3s ease; /* Transición para el zoom */
    object-fit: cover;
    border: 2px solid #cc7f00;
}

.section-two-text {
  font-family: 'Rosario', sans-serif; /* Aplica Rosario */

  font-size: 22px;
    max-width: 1000px;
    text-align: justify;
    color: #eff8f8; /* Color del texto */
    margin: 20px 0;
    font-family: "Rosario"; /* Fuente */
}

/*BOTÓN*/

/* Efecto de botón animado */
.section-two-button {
  border-radius: 5px;
  background-color: #ef940b; /* Color de fondo inicial */
  color: #000; /* Color del texto del botón */
  border: 2px solid #000; /* Borde del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 18px; /* Tamaño de texto del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  margin-top: 20px; /* Espacio arriba del botón */
  position: relative; /* Necesario para el efecto de animación */
  overflow: hidden; /* Para ocultar los elementos internos */
  transition: background-color 0.4s ease; /* Transición de color de fondo */
}

.section-two-button:hover {
  background-color: #007bff; /* Color azul al pasar el mouse */
}

/* Efecto de texto del botón */
.section-two-button::before {
  position: absolute; /* Para animar el texto */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease; /* Transición para el efecto */
}

.section-two-button:hover::before {
  transform: translate(-50%, -50%) scale(1.2); /* Escala el texto al hacer hover */
}

/* Cambia el texto al hacer hover */
.section-two-button:hover::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px; /* Tamaño del nuevo texto */
  color: #000; /* Color del nuevo texto */
  transition: opacity 0.4s ease; /* Transición para la aparición del nuevo texto */
}

/* Controlar la opacidad del texto original al hacer hover */
.section-two-button:hover::before {
  opacity: 0; /* Oculta el texto original */
}

/*CLOSE BOTON*/


.image-link:hover .section-two-image {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra al hacer hover */
}
  /*close section two */



/*section three*/


.home-container.section-three {
  position: relative; /* Posiciona el contenedor de manera relativa */
  width: 100%; /* Ancho completo del contenedor */
  height: 100vh; /* Altura completa de la ventana */
}

.section-three video {
  background-color: #000;
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%; /* Ancho completo */
  height: auto; /* Mantiene la relación de aspecto */
  min-height: 100%; /* Asegura que la altura mínima sea 100% */
  transform: translate(-50%, -50%); /* Centra el video */
}

/*close section three*/


/*section four*/


/* SECCIÓN CUATRO */
.section-four {
  background-color: #3e0f42; /* Fondo en el mismo tono que la sección dos */
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.section-four-content {
  display: flex;
  gap: 100px;
  align-items: center;
  max-width: 1200px;
}

.section-four-text-container {
  max-width: 500px;
  color: #eff8f8;
}

.section-four-title {
  font-family: 'Rosario', sans-serif;
  color: #ef940b;
  font-size: 32px;
  padding-bottom: 15px;
}

.section-four-text {
  font-size: 18px;
  margin: 10px 0;
}

.section-four-button span {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  display: block;
  position: absolute;
  width: 200px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
              7px 7px 20px 0px rgba(0, 0, 0, .1),
              4px 4px 5px 0px rgba(0, 0, 0, .1);
  border-radius: 5px;
  margin: 5;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section-four-button span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.section-four-button span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.section-four-button:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
              7px 7px 20px 0px rgba(0, 0, 0, .1),
              4px 4px 5px 0px rgba(0, 0, 0, .1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.section-four-button:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
              7px 7px 20px 0px rgba(0, 0, 0, .1),
              4px 4px 5px 0px rgba(0, 0, 0, .1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}


.section-four-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-four-image {
  width: 200px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #cc7f00;
  transition: transform 0.3s ease;
}

.section-four-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


/*close section four*/


/*section five*/


.home-container.section-five {
  position: relative; /* Posiciona el contenedor de manera relativa */
  width: 100%; /* Ancho completo del contenedor */
  height: 100vh; /* Altura completa de la ventana */
}

.section-five video {
  background-color: #000;
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%; /* Ancho completo */
  height: auto; /* Mantiene la relación de aspecto */
  min-height: 100%; /* Asegura que la altura mínima sea 100% */
  transform: translate(-50%, -50%); /* Centra el video */
}

/*close section five*/

/*section six*/
.section-six {
  background-color: #122739; /* Fondo oscuro */
  color: #ffffff; /* Texto en blanco */
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-six-fullscreen {
  width: 80%;
  margin: 0 auto;
}

.section-six-title {
  font-family: 'Rosarivo', serif;
  font-size: 50px;
  letter-spacing: 3px;
  color: #ef940b;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
}

.section-six-text {
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Rosario', sans-serif;
  line-height: 1.5;
  font-style: oblique;
  color: #eff8f8;
  text-align: center;
}

.section-six-text-p{
  max-width: 500px;
  color: #eff8f8;
  font-family: 'Rosario', sans-serif;
  text-align: justify;
}


.section-six-content {
  display: flex;
  flex-direction: row;
  font-family: 'Rosario', sans-serif;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-top: 60px;
  padding-top: 20px;

}

.section-six-left-text {
  width: 45%;
  font-size: 18px;
  line-height: 1.6;
  color: #d0d0d0;
}

.section-six-right-video {
  padding: 20px;
  width: 50%;
  height: 160%;
  display: flex;
  justify-content: center;
}

.section-six-right-video iframe {
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}




/*close section six*/

/*section seven*/


.home-container.section-seven {
  position: relative; /* Posiciona el contenedor de manera relativa */
  width: 100%; /* Ancho completo del contenedor */
  height: 100vh; /* Altura completa de la ventana */
}

.section-seven video {
  background-color: #000;
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%; /* Ancho completo */
  height: auto; /* Mantiene la relación de aspecto */
  min-height: 100%; /* Asegura que la altura mínima sea 100% */
  transform: translate(-50%, -50%); /* Centra el video */
}

/*close section seven*/


/*section eight*/

/* Estructura general de la sección */
.home-container.section-eight {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
  padding: 0;
  margin: 0;
  background-color: #0e2c2f; /* Fondo de la sección */
}

.section-eight-title {
  text-align: left;
  align-content: baseline;
  font-size: 36px;
  font-family: 'Rosarivo', serif;
  color: #ef940b;
  letter-spacing: 4px;
  margin-bottom: 70px;
}

.section-eight-content {
  width: 80%;
  max-width: 1200px;
  margin-top: 30px;
}

.section-eight-item {
  margin: 15px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1); /* Fondo suave para cada item */
  border-radius: 8px;
  width: 80%;
  transition: transform 0.3s ease;
}

.section-eight-item:hover {
  transform: translateY(-10px); /* Efecto de elevación al pasar el mouse */
}

.section-eight-text {
  font-family: 'Rosario', sans-serif;
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
}

.section-eight-hover-text {
  text-align: left;
  display: none;
  font-size: 17px;
  font-family: 'Rosario', sans-serif;
  color: #ef940b; /* Color para el hover */
}

.section-eight-item:hover .section-eight-hover-text {
  display: block;
  margin-top: 10px;
}

.section-eight-divider {
  height: 5px; /* Aumenta el grosor de la línea */
  width: 70%;
  background-color: rgb(153, 140, 20); /* Color de la línea */
  border: none; /* Elimina cualquier borde predeterminado */
  margin: 20px 0; /* Ajusta el espacio alrededor del <hr> */
}

/*tú*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:  #151719;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  text-align: right;  /* Esto alinea todo el contenido a la derecha */
}

.section-eight-title {
  text-align: left  ;  /* Alinea el h2 a la derecha */
  font-size: 60px;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #ef940b;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

/*close tú*/

/*close section eight*/


  .title-svg {
    width: 100%;
    padding-bottom: 20px;
  }

  .title-svg text {
    font-family: "Rosarivo"; /* Usa la misma fuente que en la sección uno */
    letter-spacing: 5px; /* Ajusta el espaciado entre letras si es necesario */
    stroke: #ef940b;
    font-size: 150px; /* Ajusta este valor para cambiar el tamaño del texto */
    font-weight: 700;
    padding-bottom: 20px;
    stroke-width: 2;
    animation: textAnimate 5s infinite alternate;
    dominant-baseline: middle; /* Asegura que el texto esté centrado verticalmente */
  }

  .section-four .title {
    margin-top: 10px; 
  }

  @media (max-width: 768px) {

    .justified-text {
      overflow-y: auto; 
      max-height: 300px; 

    }

  }

  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset: 20%;
      fill: hsl(189, 68%, 75%);
    }
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffset: -20%;
      fill: hsla(189, 68%, 75%, 0%);
    }
  }